/*-- Fonts Import url --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* Code to remove edges in the webpage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body style to center everything and pin footer to the bottom of the screen */
body {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.wrapper{
  flex:1;
}
/* Body styling ends here */

/* Styling of the header and H1 content */
header {
  background-color: #FF99CC;
  overflow: auto;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #3a3a3a;
}

h1 {
  font-family: roboto, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 3rem;
  line-height: 150px;
}
/* Styling of the header ends here */

/* Styling of the footer and the social media links */
footer {
  background-color: #FF99CC;
  height: 75px;
}

#social-media {
  text-align: center;
  padding-top: 20px;
}

#social-media li {
  display: inline;
}

#social-media i {
  font-size: 250%;
  line-height: 37px;
  color: #3a3a3a;
  margin-right: 50px;
}

#social-media a:hover {
  font-size: 120%;
}
/* Footer styling ends here */

/* Styling of the score section */
section {
  height: 100vh;
  background-color: #A5E6D4;
}

.score {
  color: #3a3a3a;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

.score h2 {
  font-size: 2.2rem;
  padding: 1rem;
}
.score span {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

/* styling of the start screen and the buttons */
.lets-play {
  color: #3a3a3a;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.lets-play h1 {
  font-size: 50px;
  }

.lets-play button,
.choice-btn {
  width: 10rem;
  height: 3rem;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 20px;
  background: #FF99CC;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
/* Styling of the start screen ends here */

/* Styling of the game are */
.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

#outcome {
  color: #3a3a3a;
  text-align: center;
  font-size: 50px;
  margin-bottom: 125px;
}

.hands,
.choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hands img {
  width: 45vw;
  max-width: 400px;
  height: auto;
}

.player-hand {
  transform: rotateY(180deg);
}

/* This makes the start screen fade out on click */
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

/* This makes the hands shake when you choose ur option */
@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}
  
@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}


  /*-- Modal Styling --*/
.modal-outer {
  display: none;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  }

.modal-inner {
  background: rgb(224, 223, 223);
  border: 3px solid #3a3a3a;
  margin: 0 auto;
  height: 10%;
  width: 50%;
  top: 40%;
  position: absolute;
  left: 25%;
}

#modal-content {
  padding: 45px 20px 0px 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#close-modal {
  font-size: 20px;
  color: #3a3a3a;
  font-weight: bold;
  position: absolute;
  right: 25.5%;
  top: 40%;
  z-index: 10;
}

#close-modal:hover {
  cursor: pointer;
  text-decoration: none;
}
/*-- End of Modal styling --*/

/* Media Queris to make the site respnsive */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
    line-height: 100px;
  }

  .score h2 {
    font-size: 1.5rem;
  }
 
  .choice-btn {
    width: 6.5rem;
    height: 1.8rem;
  }

  .lets-play button {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  #social-media i {
    margin-right: 25px;
  }

  #outcome {
    font-size: 35px;
  }

  .lets-play h1 {
    font-size: 35px;
    }

  #modal-content {
    padding: 20px 20px 0px 20px;
  }
}